{% extends "base.html" %}

{% block content %}

	<div class="new-form">

		<div class="new-name text-center">

			<span class="middle-align">

				<h1>

					Restaurant {{ restaurant.name }}<br>
					Edit menu item {{ menu.name }}

				</h1>

			</span>

		</div>

		<form action="{{ url_for('editMenu', restaurant_id = restaurant.id, menu_id = menu.id) }}" method="post">

			<div class="row">

				<div class="col-md-6 text-center menu-boxes">

					<div id="name">

						Name:<br>

						<input type="text" name="name" placeholder="{{ menu.name }}">

					</div>

					<br>

					<div id="price">

						Price:<br>

						<input type="text" name="price" placeholder="{{ menu.price }}">

					</div>

					<br>

					<div id="description">

						Description:<br>

						<textarea class="text-area" name="description" placeholder="{{ menu.description }}"></textarea>

					</div>

				</div>

				<div class="col-md-6">

					<div id="course">

						<div class="course-op">
						
							Course:<br><br>

							<div id="food-type text-left">

								<input type="radio" name="course" value="Appetizer" {% if menu.course == 'Appetizer' %}checked{% endif %}>

								Appetizer<br><br>

								<input type="radio" name="course" value="Entree" {% if menu.course == 'Entree' %}checked{% endif %}>

								Entree<br><br>

								<input type="radio" name="course" value="Dessert" {% if menu.course == 'Dessert' %}checked{% endif %}>

								Dessert<br><br>

								<input type="radio" name="course" value="Beverage" {% if menu.course == 'Beverage' %}checked{% endif %}>

								Beverage<br><br>

							</div>

						</div>

						<br><br><br><br><br>

						<div class="menu-crea-canc text-center">

							<input type="submit" value="Update">

							<a href="{{ url_for('showMenu', restaurant_id = restaurant.id) }}" id="create">
							Cancel
							</a>

						</div>

					</div>

				</div>

			</form>

		</div>

	</div>

{% endblock %}