{% extends "base.html" %}
{% block content %}
	
	<div class="container-fluid row top">

        <div class="col-md-4 text-right title">

            <span class="align-middle">

				{{ restaurant.name }} Menu

			</span>

        </div>

        <div class="col-md-8 text-center">

            <span class="align-middle">

				<a class="new-res" href="{{ url_for('newMenu', restaurant_id = restaurant.id) }}">
				New Menu Item</a>

			</span>

		</div>

	</div>

	{% for item in menu %}

		<div class="container-fluid row restaurant">

    		<div class="col-md-6 name">

        		<span class="align-middle text-left">

        			<ul>

						<li> {{ item.name }}</li>

						<li> {{ item.price }} </li>

						<li> {{ item.course }} </li>

					</ul>
					
				</span>

    		</div>

    		<div class="col-md-6 name">

    			<span class="align-middle">

    				<ul>

    					<li> {{ item.description }} </li>

    					<br>

    					<div class="menu-options">

	    					<a href="{{ url_for('editMenu', restaurant_id = restaurant.id, menu_id = item.id) }}" id="menu-edit">Edit</a>

							<a href="{{ url_for('deleteMenu', restaurant_id = restaurant.id, menu_id = item.id) }}">Delete</a>

						</div>

    				</ul>

    			</span>

    		</div>

    	</div>

	{% endfor %}

{% endblock %}