<!DOCTYPE html>
<html>

<head>
	<meta content="text/html; charset=UTF-8">
	<title>Home Menu</title>
</head>

	<body>

		<h1>

			{{ restaurant.name }} Menu

		</h1>

		<br>

		<h3>

			<a href="{{ url_for('newMenu', restaurant_id = restaurant.id) }}">
			Create</a>

		</h3>

		<ol>

			{% for item in menu %}

				<li> {{ item.name }}
				<br>
				<a href="{{ url_for('editMenu', restaurant_id = restaurant.id, menu_id = item.id) }}">edit</a><br>
				<a href="{{ url_for('deleteMenu', restaurant_id = restaurant.id, menu_id = item.id) }}">delete</a>
				</li>
				<br>
				<br>

			{% endfor %}

		</ol>

	</body>

</html>