<!DOCTYPE html>
<html>

<head>
	<meta content="text/html; charset=UTF-8">
	<title>New Menu Item</title>
</head>

	<body>

		<h1>

			New menu item for {{ restaurant.name }}

		</h1>

		{{ error }}

		<form action="{{ url_for('newMenu', restaurant_id = restaurant.id) }}" method="post">

			<div class="form" id="name">
				Name:<br>
				<input type="text" name="name">
			</div>

			<div class="form" id="description">
				Description:<br>
				<textarea class="text-area" name="description"></textarea>
			</div>

			<div class="form" id="price">
				Price:<br>
				<input type="text" name="price">
			</div>

			<div class="form" id="course">
				Course:<br>
				<input type="radio" name="course" value="Appetizer">
				Appetizer<br>
				<input type="radio" name="course" value="Entree">
				Entree<br>
				<input type="radio" name="course" value="Dessert">
				Dessert<br>
				<input type="radio" name="course" value="Beverage">
				Beverage<br>
			</div>

			<input type="submit" value="Create">

		</form>

	</body>

</html>